<!DOCTYPE html>

<!--This website was created for Software Dev 2-->

<html lang="en">

<head>
    <title>Bookmark</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <meta name="viewport" content="width=device-width, intial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
</head>

<body>

	<!--Use the header area for the website name or logo-->
	<header>
		<h1 class="title-text"><a href="home.html">Bookmark</h1>
		<nav>
			<ul>
				<a href="home.html">Home</a>&nbsp; &#9475; &nbsp;
				<a href="feed.html">Feed</a>&nbsp; &#9475; &nbsp;
			</ul>
		</nav>
	</header>
	<!--Use the main area to add the main content of the webpage-->
	<main>
		<p></p>
		<p></p>
		<p></p>
	</main>

	<!--Use the footer area to add webpage footer content-->
	<footer>
		<p class="link"><a href="">Contact us</p></a>
	</footer>

</body>

</html>