/* General Styles */


html, body {
    background-image: url(/static/images/paper_texture1.png);
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: "Open Sans", sans-serif;
}

/* Navbar */
.w3-top {
    position: fixed;
    width: 100%;
    z-index: 1;
}

.w3-bar-item {
    padding: 16px;
}

/* Profile Card */
.w3-card {
    border-radius: 8px;
}

.w3-round {
    border-radius: 8px;
}

/* Interests Tags */
.w3-tag {
    margin: 4px 0;
}

/* Alert Box */
.w3-display-container {
    position: relative;
}

.w3-display-topright {
    position: absolute;
    top: 0;
    right: 0;
}

/* Create a Post */
.w3-border {
    border: 1px solid #ccc;
}

/* Button Styles */
.w3-button {
    cursor: pointer;
}

/* Responsive Styles */
@media (max-width: 600px) {
    .w3-col {
        width: 100%;
    }

    .w3-hide-small {
        display: none !important;
    }
}
