<!DOCTYPE html>
<html>
    <head>
        <title>Login Page</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        
        <h1>You must have failed to login. To try again, click the button below.</h1>
        <p><iframe src="https://giphy.com/embed/toXKzaJP3WIgM" width="480" height="288" style="" 
        frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a 
            href="https://giphy.com/gifs/toXKzaJP3WIgM">via GIPHY</a></p></p>
        <p><button onclick="document.location='http://127.0.0.1:5000/login'">Try Logging in Again</button></p>
        <p><button onclick="document.location='http://127.0.0.1:5000/help'">Help</button></p>
