body {
    background-color: rgb(173, 230, 205);
  }
  
  h1 {
    color: rgb(43, 226, 76);
    text-align: center;
  }

  h2 {color: blue;
  text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 24px;
    text-align: center;
  }