<!DOCTYPE html>
<html>
    <head>
        <title>Successful Login Page!</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <h1>Welcome, Your Login Worked</h1>
        <div id="index">

            <a href="/login">
                <button type="button">Log In!</button>
            </a>

            <a href="/users">
                <button type="button">Users!</button>
            </a>

            <a href="/">
                <button type="button" id="home">Home</button>
            </a>
        </div>
    </body>
</html>